/* Адаптивность через контейнерные запросы */
@container post-card (max-width: 12rem) {
  .stats-container {
    flex-direction: column;
    gap: 0.25rem;
  }
  
  /* .stat-item {
    width: 100%;
  } */
  
  .stat-item.date {
    text-align: left;
    width: 100%;
  }
}

/* Фолбэк для браузеров без поддержки контейнерных запросов */
@supports not (container-type: inline-size) {
  .stats-container {
    flex-direction: column;
    gap: 0.25rem;
  }
}
